body {
    margin:0;
    background-color: #8ac7e6;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00334d;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  font-size: large;
 text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #2eb8b8;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

 

.grid {
  height: 100vh;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "nav nav"
  "content content"
  "footer footer";
  grid-gap:4px; 
}

.nav{
  grid-area: nav;
}
.content{

  text-align: center;
  padding: 14px 16px;
  grid-area: content;
}
.footer{

  text-align: center;
  padding: 14px 16px;
  grid-area: footer;
  background-color: #456f82;
}

@media only screen and (max-width: 600px)
{
    /*it change navbar*/
    ul.topnav li.right, 
    ul.topnav li {float: none;}

.grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "nav nav"
  "content content"
  "footer footer";
}
  

