{{define "header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="/static/css/style.css"> 	
	</head>
	<body>
        <div class="grid">
            <div class="nav">
             <!--navigation bar-->
            <div class="topnav">
             <!--Logo-->
             <div class="logo"><a href="/">Wanna Go Strong</a></div>
             <!--getvnf-->
             <div class="vnf"><a href="/getVNF/mm/Wmiddle/Hmedium/Shigh/Eadvanced/A20s/Dgood/Sleepavg/Stressavg/Hw2/Hra2">VNF</a></div>
              <!--about-->
            <div class="about"><a href="/about">About</a></div>
            <!--log in-->
            <div class="login"><a href="/#login">Login</a></div>
          </div>
         </div>
{{end}}
